@using FarmaHelp.Services
@inject Auth auth;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FarmaHelp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if(auth.isAuthenticated == false){
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Log in
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="signup">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sign up
                </NavLink>
            </div>
        }else{
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Profil
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="medicamente">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Medicamente
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cos">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Cos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="oferte">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Oferte
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="producatori">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Producatori
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="request">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Suplimentare
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="signout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sign out
                </NavLink>
            </div>
        }
      
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
  
}
